/* палитра основной черный #212121
вторичный черный #757575
основной белый #FFFFFF
вторичный белый rgba(255, 255, 255, 0.6);
акцент #2196f3
*/
/* css для index.html */
/* hero css */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-content {
  width: 646px;
  height: 200px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.hero .title-hero {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* css для всех секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

/* css для наши преишущества */

.studio-skills-list,
.what-we-do-list,
.our-team-list,
.regular-clients-list {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
  padding: 0px;
}

.studio-skills-list .item + .item {
  margin-left: 30px;
}
.studio-skills-list .item {
  display: flex;
  flex-direction: column;
  width: 278px;
}
.features-link {
  display: block;
  padding-bottom: 30px;
}
.features-description {
}
.studio-skills-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio-skills-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.studio-skills-list .link:hover,
.studio-skills-list .link:focus {
  color: var(--accent-color);
}

/* css для чем мы занимаемся */
.section .what-we-do-list .title {
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--white-text-color);
  /* фон для того чтобы было видно текст */
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.what-we-do-list .item {
  width: 380px;
}
.what-we-do-list .item + .item {
  margin-left: 30px;
}
.what-we-do-list .image {
  display: block;
}
/* css для наша команда */
.team {
  background-color: #f5f4fa;
}
.our-team-list .item + .item {
  margin-left: 30px;
}
.our-team-list .item {
  width: 278px;
}
.our-team-list .image {
  display: block;
  margin-bottom: 30px;
}
.our-team-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list .text {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-list {
}

.member-list .link {
  color: var(--secondary-text-color);
}
.member-list .link:hover,
.member-list .link:focus {
  color: var(--accent-color);
}
/* css для постоянные клиенты */
.regular-clients .item + .item {
  margin-left: 30px;
}
.regular-clients .item {
  width: 175px;
}
.regular-clients .title {
  color: var(--primaty-text-color);
}
.regular-clients .link:hover,
.regular-clients .link:focus {
  color: var(--accent-color);
}

/* button */
.button.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 136px;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.button.primary {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
/* css для portfolio.html */
/* css для радио-кнопок */
.filtres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 641px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.filtres .button {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  color: var(--primaty-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.filtres .button:hover,
.filtres .button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
/* css для примеров работ */
.work-list {
  display: flex;
  flex-wrap: wrap;
  /* margin: -15px; */
  border: 1px solid transparent;
  border-radius: 5px;
}
.work-list .item {
  /* margin: 15px; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  /* width: calc((100% - 60px) / 3); */
}
.work-list .item:nth-child(3n) {
  margin-right: 0;
}
.card-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.work-list .title {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primaty-text-color);
}
.work-list .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
